@{

    string location = System.Web.Configuration.WebConfigurationManager.AppSettings["location"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Hello from: @location</h1>
    <h2>Thanks for coming to my session!</h2>
    </div>
</body>
</html>
